* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0px, 100px) minmax(50px, 150px) minmax(200px, auto) minmax(100px, 200px);
      grid-template-columns: minmax(0px, 100px) minmax(50px, 150px) minmax(200px, auto) minmax(100px, 200px);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  background-color: white;
}

.menu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.right_banner {
  position: absolute;
}

.right_banner .chapters,
.right_banner * {
  color: transparent;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

.right_banner .chapters .btn1,
.right_banner * .btn1 {
  position: absolute;
  margin-top: 30px;
  top: 130px;
  left: 30px;
}

.right_banner .chapters .btn2,
.right_banner * .btn2 {
  position: absolute;
  margin-top: 30px;
  top: 230px;
  left: 30px;
}

.right_banner .chapters .btn3,
.right_banner * .btn3 {
  position: absolute;
  margin-top: 30px;
  top: 330px;
  left: 30px;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo p {
  position: absolute;
  line-height: 50px;
  left: 70px;
  font-size: 1.5rem;
  z-index: 1;
}

.left_column {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  grid-area: 2/2/3/2;
}

.left_column .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  line-height: 60px;
  padding: 5px 5px;
  list-style: none;
}

.left_column .navigation a {
  text-decoration: none;
  font-size: 40px;
  color: #666666;
}

.gallery {
  background-color: lavenderblush;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
}

.gallery .container {
  margin-top: 20px;
}

.right_column {
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2/4/3/5;
  padding: 10px;
  overflow: hidden;
}

.right_column .right_text {
  margin-top: 50px;
  font-size: 0.9rem;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 3;
  grid-row: 3;
}

.footer .infoAbout1,
.footer .infoAbout2 {
  color: #222222;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 20px;
  line-height: 10px;
}

@media (max-width: 700px) {
  .logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1/1/2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo img {
    position: relative;
    top: -13px;
    left: -50px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .logo p {
    position: absolute;
    line-height: 25px;
    left: 30px;
    font-size: 0.8rem;
    z-index: 1;
  }
  .left_column {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    grid-area: 2/2/3/2;
  }
  .left_column .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    line-height: 40px;
    padding: 5px 5px;
    list-style: none;
  }
  .left_column .navigation a {
    text-decoration: none;
    font-size: 20px;
    color: #666666;
  }
  .right_column {
    background-color: white;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2/4/3/5;
    padding: 5px;
    overflow: hidden;
  }
  .right_column .right_text {
    margin-top: 0px;
    font-size: 0.5rem;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .container {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */