* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$main-color: rgb(255, 255, 255);
.right_banner {
  position: absolute;
  .chapters,
  * {
    color: transparent;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;

    .btn1 {
      position: absolute;
      margin-top: 30px;
      top: 130px;
      left: 30px;
    }
    .btn2 {
      position: absolute;
      margin-top: 30px;
      top: 230px;
      left: 30px;
    }
    .btn3 {
      position: absolute;
      margin-top: 30px;
      top: 330px;
      left: 30px;
    }
  }
}
body {
  overflow: hidden;
}
.wrapper {
  height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 100px 100px auto 200px 50px;
  grid-template-rows: 50px 80vh auto;
  background-color: $main-color;
}
.menu {
  grid-area: 1/1/2/2;
}
.banner {
  grid-area: 1/3/2/4;
}
.logo {
  grid-area: 1/4/2/6;
  img {
    position: relative;
    top: 0;
    left: calc(100% - 50px);
    transition: 0.3s linear;
    z-index: 1;
  }
  .right_banner {
    background-color: rgba(27, 27, 27, 0.2);
    position: absolute;
    width: 250px;
    height: 100vh;
    top: 0px;
    left: calc(100% - 50px);
    transition: 0.3s linear;
  }
}
.logo:hover {
  cursor: pointer;
  img {
    position: absolute;
    left: calc(100% - 250px);
    z-index: 1;
  }
  .right_banner {
    position: absolute;
    top: 0px;
    left: calc(100% - 250px);
    background-color: rgba(27, 27, 27, 1);
  }
  .chapters,
  * {
    color: white;
    font-size: 2rem;
    text-align: center;
  }
}
.left_column {
  grid-area: 2/2/3/2;
  .navigation {
    margin-top: 20px;
    line-height: 60px;
    padding: 15px 25px;
    list-style: none;
    a {
      text-decoration: none;
      font-size: 40px;
      color: rgb(102, 102, 102);
    }
  }
}
.gallery {
  background-color: lavenderblush;
  text-align: center;
  grid-area: 2/3/3/4;
}
.right_column {
  background-color: $main-color;
  grid-area: 2/4/3/5;
  padding: 10px;
  overflow: hidden;
  .right_text {
    margin-top: 50px;
    font-family: roboto, sans-serif;
  }
}
.footer {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-evenly;
  grid-row: 3;
  .infoAbout1,
  .infoAbout2 {
    color: rgb(34, 34, 34);
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
  }
}
